 Python Crash Course 101: Introduction to Python

 This notebook is based on [Python Crash Course Book](http://ehmatthes.github.io/pcc/cheatsheets/README.html) by [Eric Matthes](https://github.com/ehmatthes) which is free through [UNCW library](https://libcat.uncw.edu/search~S4?/X(python+crash+course)&searchscope=4&SORT=D&m=a&m=c&m=h&b=wg&b=wj&b=wr&b=wf&b=wh&b=wb&b=wc&b=we&b=wi&b=wl&b=wn&b=ws&b=wu&b=wv&b=eb/X(python+crash+course)&searchscope=4&SORT=D&m=a&m=c&m=h&b=wg&b=wj&b=wr&b=wf&b=wh&b=wb&b=wc&b=we&b=wi&b=wl&b=wn&b=ws&b=wu&b=wv&b=eb&SUBKEY=(python+crash+course)/1%2C4%2C4%2CB/frameset&FF=X(python+crash+course)&searchscope=4&SORT=D&m=a&m=c&m=h&b=wg&b=wj&b=wr&b=wf&b=wh&b=wb&b=wc&b=we&b=wi&b=wl&b=wn&b=ws&b=wu&b=wv&b=eb&1%2C1%2C)

# <font color="blue">Table of Contents</font>

## Canvas
* Please let us know if you cannot login
http://uncw.instructure.com
* You should be able to find you class materials there (lecture notes, exercises, assignments, etc)

## Crash Course in Google Colab
* How to use Cells in Google Colab
    * Code cell
    * Markdown cell


## Introduction to Python
* Why Python

        
## Coding in Python
* Comments
* Variables
    * Variable naming rules
    * Declare a variable
* Numbers
    * int
    * float
    * complex
* Strings
    * Notations
    * Manipulations
* Literal Constants
* Operators
    * Arithmetic operators
    * Comparison operators
    * Logical operators

# <font color="red">I. Crash Course in Google Colab

[Source: Official Google Colab Documentation](https://colab.research.google.com/notebooks/basic_features_overview.ipynb#scrollTo=KR921S_OQSHG)

# Cells
A notebook is a list of cells. Cells contain either explanatory text or executable code and its output. Click a cell to select it.

## Code cells
Below is a **code cell**. Once the toolbar button indicates CONNECTED, click in the cell to select it and execute the contents in the following ways:

* Click the **Play icon** in the left gutter of the cell;
* Type **Cmd/Ctrl+Enter** to run the cell in place;
* Type **Shift+Enter** to run the cell and move focus to the next cell (adding one if none exists); or
* Type **Alt+Enter** to run the cell and insert a new code cell immediately below it.

There are additional options for running some or all cells in the **Runtime** menu.

In [ ]:
a = 10
a

10

## Text cells
This is a **text cell**. You can **double-click** to edit this cell.

# <font color="red">II. Introduction to Python </font>


## 2.1 Why Python?

* Python is truly a scripting language; you can create projects end-to-end without leaving Python.
* Python is open source; there are no hidden fees or extra software to download.
* Python has an awesome online community that you can learn from and contribute to.
* Software quality
  * Python is designed to be readable, and hence maintainable.
  * Python adopts minimalist approach.
  * Python is deep support for software reuse mechanisms such as OO.
* Developer productivity:
  * Python code is typically 1/3 to 1/5 the size of equivalent C++ or JAVA code
* Program portability:
  * Most python programs run unchanged on all major computer platforms
* Support Libraries
* Component integration
  * Python code can invoke C and C++ libraries, can be called from C and C++, can integrate with Java components.	Can communicate over XML, Corba and .NET etc

# <font color="red">III. Coding in Python </font>

## 3.1 Comments

Python has commenting capability for the purpose of in-code documentation.<br>

Comments start with a `#`, and Python will render the rest of the line as a comment. (Note: this is for when your cells are in Code format.) <br>

Comments are ignored by the computer when the code is run. <br>

These are useful for making notes on what portion of the code is doing and why is it doing it.

### 3.1.1 Create a Comment
Here's an example how you can create comments with `#`:

In [ ]:
print('Hello Python Programmer!') # This is the print function. It is heavily used for marking checkpoints in functions.

### 3.1.2 Multi Line Comments
To add multi line comments in Python, you can insert a # for each line, or just add a multiline string (triple quotes) in your code, and place your comment inside it:

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

## 3.2 Variables


**Variables** are used for storing and manipulating information. Their value can vary, which means that the value can change. You can store anything using a variable. They are given names that are used to access their values.

Unlike other programming languages, Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

### 3.2.1 Variable naming rules
* The first character of the name must be a letter of the alphabet or an underscore (A variable name cannot start with a number)
* The rest of the name can be letters (upper or lower case), underscores, or digits 0-9
* Variable names are case sensitive.
    * For example, MYVARIABLE and myvariable are different.
* Variable names cannot be a reserved word in Python.
    * For example, __break__, __def__, or __for__ are not allowed.

Create a variable by typing the name you'd like to use, then the = sign and the value you'd like to store. The syntax is:



```
my_profession = 'Data Scientist'
my_number = 123456789
```

In [ ]:
myProfession = 'Data Scientist'

In [ ]:
myProfession

'Data Scientist'

In [ ]:
myNumber = 123456789

### 3.2.2 Declare a Variable
You can access the value of a variable by the variable's name.

In [ ]:
myProfession

What happens if you try to access two different variables on two lines?

In [ ]:
myProfession
myNumber

NameError: ignored

To display more than one variable in the Output, we use the print function.



<br>
In Python we can use the __`print()`__ function to print a something to the screen. For example:

__`print(my_profession)`__
<br>
__`print('My number is: ', my_number)`__

In [ ]:
print(myProfession)
print('My number is: ', myNumber)
print('My number is: ' + str(myNumber))

In [ ]:
myNumber, myProfession

## 3.3 Numbers

There are three numeric types in Python:
* **integer**: a whole number, positive or negative, without decimals, of unlimited length
* **floating point number**: a number, positive or negative, containing one or more decimals. Float can also be scientific numbers with an "e" to indicate the power of 10.
* **complex**: Complex numbers are written with a "j" as the imaginary part <br>

Here are some examples in Python:

In [ ]:
x = 1    # int
y = 2.8  # float
yy = 35e3  # float
z = 1j   # complex

In [ ]:
print(type(x))
print(type(y))
print(type(yy))
print(type(z))

You can convert between a float and an integer using a built-in Python function.

To change a float to an integer use the syntax: __`int(3.8)`__

In [ ]:
#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

<font color="green">**Q: Does the int() function round up or round down? Why do you think it does or it doesn't round?**</font>

Please enter your answer below:

In [ ]:
# example with int()

8

Round function in Python3 rounds a number to the nearest integer.

In [ ]:
round(2.4)

2

In [ ]:
round(2.7)

3

## 3.4 Strings


Strings are collections of alphabets, words or other characters.

### 3.4.1 Notations for Strings

There are four notations for strings:
* __Single Quote__ notation: `'this is a string'`
* __Double Quote__ notation: `"this is a string"`
* __Triple Quotes__ notation: `'''this is also a string'''`
* __Triple Double Quotes__ notation: `"""this is also a string"""`

You can nest different types of quotes within strings, but you have to start and end a string with the same type of quote!

In [ ]:
text = '''This is a multi-line string,
which continues on as many lines as you need.

You can even add other strings inside:
"This is a double quote string"
'And this is a single quote string'.
'''

print(text)

Usually single or double quotes are used for shorter strings, while triple quotes are used for multi-line strings, but this is just a convention.

#### <font color="green"> Exercise: Create your own strings below - be sure to use each type of quote: </font>

In [ ]:
'First string - single quote'

In [ ]:
"Second string - double quote"

In [ ]:
'''Third string - triple quote'''

#### <font color="green"> Q: When would you use both single quotes & double quotes in the same string? Give an example below.</font>

In [ ]:
'A string that includes "double quote" in the line'

### 3.4.2 Manipulations for Strings
There are several helpful, built-in manipulations for strings. For example:

In [ ]:
my_str = 'Practice takes time & time is spent best in practice.'

In [ ]:
my_str

You can make a string all uppercase using the method upper like this: __`my_str.upper()`__ <br>
**Challenge:** When & why do you think we will need to use this method?

In [ ]:
my_str.upper() # this makes everything be uppercased & only works with strings.

You can make a string all lowercase using the method lower like this: __`my_str.lower()`__ <br>
**Challenge:** When & why do you think we will need to use this method?

In [ ]:
my_str.lower()

We can also use slicing methods to extract a single letter of a string. <br>

You can slice a string using the index of the letters. <br>

The first letter is index 0. **This is because the first index in Python is always 0.**<br>

For example, to get the first letter of our string we should code out: <br>
__`my_str[0]`__

In [ ]:
my_str[0], my_str[1], my_str[2]

We can also index from the end of the string by using a negative index. <br>
For example, to get the last letter of our string we can use: <br>
__`my_str[-1]`__

In [ ]:
my_str[-1], my_str[-2], my_str[-3]

Slicing will also allow us to extract a subsequence from the string. The syntax is: <br>
__`my_str[i:j]`__ where i is the starting index and j is the ending index. <p>

**In Python the lower bound is included, but the upper bound is not included.** <br>
For example, if we wanted the first four (4) letters of our string we could use the syntax: <br>
__`my_str[0:4]`__

In [ ]:
my_str[0:4]

Slicing can also use an extended syntax:

__`my_str[i:j:k]`__ where<br>
* **i** is the starting index
* **j** is the ending index
* **k** is the stride or the step between indices (default is 1)

For example, if we wanted every other letter (k = 2) of the first (i = 0) 6 characters (j = 7) we could use:

__`my_str[0:7:2]`__

In [ ]:
my_str[0:7:2]

**Slicing doesn't require a start or an end index.** <br>

Leaving off the starting index is equivalent to specifing the first index, 0. In other words, **the default for i is 0.** <br>

Leaving off the ending index is equivalent to the index of the last character. In other words, **the default for j is the number of characters + 1, n + 1.** <p>
    
For example, we can slice the first (i = 0 or empty) 4 characters (j = 5) with the syntax: <br>
__`my_str[:5]`__

In [ ]:
my_str[:5]

Or we can slice the characters from index 5 (i = 5) to the end of the string (j = n or empty) with the syntax: <br>
__`my_str[5:]`__

In [ ]:
my_str[5:]

We could get every other character (k = 2) for the entire string (i & j are empty) with the syntax: <br>
__`my_str[::2]`__

In [ ]:
my_str[::2]

Or we could use -1 as the step in the extended syntax to get the string (i & j are empty) in reversed order (k = -1): <br> __`my_str[::-1]`__

In [ ]:
my_str[::-1]

You can get the count of how many elements are in the string by checking the length:<br>
**`len(my_str)`**

In [ ]:
my_str="hello   world"
len(my_str)
my_str[4:7]

'o  '

## 3.6  Operators

**Operators** are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the **operand**.

### 3.6.1 Arithmetic operators
Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication etc.<br>

* `+`: Add two operands or unary plus
* `-`: Subtract right operand from the left or unary minus
* `*`: Multiply two operands
* `/`: Divide left operand by the right one (always results into float)
* `%`: Modulus - remainder of the division of left operand by the right
* `//`: Floor division - division that results into whole number adjusted to the left in the number line
* `**`: Exponent - left operand raised to the power of right

In [ ]:
x = 15
y = 4

print('x + y =',x+y)
print('x - y =',x-y)
print('x * y =',x*y)
print('x / y =',x/y)
print('x // y =',x//y)
print('x ** y =',x**y)

In [ ]:
x=8
y=7
x*y

56

#### <font color="green">Exercises: Let's convert a temperature from fahrenheit to celcius. (Subtract 32 from the temperature, multiply by 5, then divide by 9.) Let's find the celcius temperature for 100 fahrenheit</font>

In [ ]:
current_fahrenheit = 100
celcius = (current_fahrenheit-32)*5/9
print("the C equivalent is",celcius)

the C equivalent is 37.77777777777778

#### <font color="green">Exercises: We have 25 cookies and 7 friends at our party. If we wanted to give each friend 3 cookies how many cookies would we have left? (Use the modulo operator for this question)</font>

### 3.6.2 Comparison operators
Comparison operators are used to compare values. It either returns True or False according to the condition.<br>

* `>`: Greater that - True if left operand is greater than the right
* `<`: Less that - True if left operand is less than the right
* `==`: Equal to - True if both operands are equal
* `!=`: Not equal to - True if operands are not equal
* `>=`: Greater than or equal to - True if left operand is greater than or equal to the right
* `<=`: Less than or equal to - True if left operand is less than or equal to the right

In [ ]:
x = 10
y = 12
# Output: x > y is False
print('x > y  is',x>y)
# Output: x < y is True
print('x < y  is',x<y)
# Output: x == y is False
print('x == y is',x==y)
# Output: x != y is True
print('x != y is',x!=y)
# Output: x >= y is False
print('x >= y is',x>=y)
# Output: x <= y is True
print('x <= y is',x<=y)

x > y  is False
x < y  is True
x == y is False
x != y is True
x >= y is False
x <= y is True

### 3.6.3 Logic operators
Logical operators are the and, or, not operators.<br>

* `and`: True if both the operands are true
* `or`: True if either of the operands is true
* `not`: True if operand is false (complements the operand)

In [ ]:
x = True
y = False
# Output: x and y is False
print('x and y is',x and y)
# Output: x or y is True
print('x or y is',x or y)
# Output: not x is False
print('not x is',not x)

x and y is False
x or y is True
not x is False

In [ ]:
a = 1
b = 2
c = 3
print((a < b) & (a < c))
print((a < b) and (a < c))

True
True